<!Doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href="/style.css" rel="stylesheet">
  <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
  <script src="/app.js" charset="UTF-8"></script>
</head>
<body>
<div id="contentWrap">
  <nav>
		<span id="nav-header">
            chat App
        </span>
    <span id="logoutBtn">로그아웃</span>
  </nav>
  <div id="contentCover">
    <div id="roomWrap">
      <div id="roomList">
        <div id="roomHeader">채팅 방 목록</div>
        <div id="roomSelect">
          <div class="roomEl active" data-id="1">WeatherCody 실시간채팅</div>
        </div>
      </div>
    </div>
    <div id="chatWrap">
      <div id="chatHeader">WeatherCody</div>
      <div id="chatLog">
        <div class="anotherMsg">
          <span class="msg">안녕하세요! 날씨에따라 코디를추천해드리는 WeatherCody입니다!!
          문의사항을 알려주세요!!</span>
        </div>
      </div>
      <form id="chatForm">
        <input type="text" autocomplete="off" size="30" id="message" placeholder="메시지를 입력하세요">
        <input type="submit" value="보내기" onclick="sendMessage()">
      </form>
    </div>
  </div>
</div>

</body>
</html>



